div{
	transition: all linear 0.5s;
}


.ng-show{
	top:-500px;
}
.navbar{
	height: 75px;
	background-color: silver;
}

#logo{
	height: 100px;
	position: relative;
	top: -30px;
}
body{
	background-image: url("../assets/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	background-size: cover;
	font: calibri;
}

#jumbo{
	width: 500px;
	position: relative;
	left: 500px;
}

.btn{
	width: 150px;
	height: 100px;
	background-color: silver;
	font-size: 18px;
	font-weight: bold;
}